# My Jupyter Notebook on IBM Watson Studio

**Amila Withanaarachchi**

Data Scientist

*I am interested in data science because it enables me to work with data*

### I am intending to add 10 and 20 in the next line of code

In [1]:
10 + 20

30

---

* One
* Two
* Three
* Four
* Five

1. One
2. Two
3. Three
4. Four
5. Five

| Date | Time | Location |
| ------ | ------ | ------ |
| 23-12-2022 | 09.45 a.m. |London |
| 25-12-2022 | 12.30 p.m. |Melbourne |
| 28-12-2022 | 14.15 a.m. |Sydney |

> This is a blocked quotes that inserted within the text

~~This is a strikethrough~~